
#content {
	width:100%;
	display: flex;
	justify-content: center;
	color: #C5C5C5;
}

#columnone {

}

.lbrow {
	margin-left: auto;
	margin-right: auto;
	
	width: 32vw;
	height: 9vh;
	transition: 0.1s;	
	margin-bottom: -0.9vw;
	
	position: relative;
}

.greyRow {
	border-radius: 1vw;
}

#one:hover, #two:hover, #three:hover, #four:hover {
	width: 38vw;
	border-radius: 1vw;
	background-color: #C63209;
}
.greyRow:hover {
	width: 35vw;
	height: 9.5vh;
}

#one {
	width: 35vw;
	background-color: #BC2800;
	border-radius: 1vw;
}
#two {
	width: 35vw;
	background-color: #962709;
	border-bottom-right-radius: 1vw;
	border-bottom-left-radius: 1vw;
}
#three {
	width: 35vw;
	background-color: #6F2512;
	border-bottom-right-radius: 1vw;
	border-bottom-left-radius: 1vw;
}
#four {
	width: 35vw;
	background-color: #49241A;
	border-bottom-right-radius: 1vw;
	border-bottom-left-radius: 1vw;
}

@media only screen and (max-width: 800px) {
	.lbrow {
		margin-left: auto;
		margin-right: auto;
		
		width: 70vw;
		height: 5vh;
		transition: 0.1s;	
		margin-bottom: -0.9vw;
		
		position: relative;
	}

	.greyRow {
		border-radius: 1vw;
	}

	#one:hover, #two:hover, #three:hover, #four:hover {
		width: 90vw;
		border-radius: 1vw;
		background-color: #C63209;
	}
	.greyRow:hover {
		width:  75vw;
		height: 9.5vh;
	}

	#one {
		width: 85vw;
		background-color: #BC2800;
		border-radius: 1vw;
	}
	#two {
		width: 85vw;
		background-color: #962709;
		border-bottom-right-radius: 1vw;
		border-bottom-left-radius: 1vw;
	}
	#three {
		width: 85vw;
		background-color: #6F2512;
		border-bottom-right-radius: 1vw;
		border-bottom-left-radius: 1vw;
	}
	#four {
		width: 85vw;
		background-color: #49241A;
		border-bottom-right-radius: 1vw;
		border-bottom-left-radius: 1vw;
	}
}
