
#content {
	width:100%;
	display: flex;
	justify-content: center;
	color: #C5C5C5;
}

.ldrbrd {
	opacity: 0.9;
	width: 25vw;
	margin-bottom: 4vh;
}

.lbrow {
	padding: 1vh;
	
	margin-left: auto;
	margin-right: auto;
	
	width: 32vw;
	height: 8vh;
	transition: 0.1s;	
	margin-bottom: -0.9vw;
	
	font-size:3vh;
	
	position: relative;
	
	display: flex;
}

.greyRow {
	border-radius: 1vw;
	padding: 2vh;
}

#one:hover, #two:hover, #three:hover, #four:hover {
	width: 38vw;
	border-radius: 1vw;
	background-color: #C63209;
}
.greyRow:hover {
	width: 35vw;
	height: 9.5vh;
	padding: 2vh;
}

#one {
	width: 35vw;
	background-color: #BC2800;
	border-radius: 1vw;
}
#two {
	width: 35vw;
	background-color: #962709;
	border-bottom-right-radius: 1vw;
	border-bottom-left-radius: 1vw;
}
#three {
	width: 35vw;
	background-color: #6F2512;
	border-bottom-right-radius: 1vw;
	border-bottom-left-radius: 1vw;
}
#four {
	width: 35vw;
	background-color: #49241A;
	border-bottom-right-radius: 1vw;
	border-bottom-left-radius: 1vw;
}


.regionA {
	height: 5.5vh;
	width: 13%;
	text-align: center;
	padding: 0.5vh 0 0.5vh 0;
}

.regionB {
	height: 5.5vh;
	width: 53.2%;
	margin-left: 2%;
	text-align: left;
	padding: 0.5vh 0 0.5vh 0;
}

.regionC {
	height: 5.5vh;
	width: 16%;
	margin-left: 1.5%;
	text-align: center;
	padding: 0.5vh 0 0.5vh 0;
}

.regionD {
	position: absolute;
	right: 1.5%;
	height: 5.5vh;
	width: 13%;
	text-align: center;
	padding: 0.5vh 0 0.5vh 0;
}








@media only screen and (max-width: 800px) {
	.lbrow {
		padding: 0.375vh;
		margin-left: auto;
		margin-right: auto;
		
		width: 70vw;
		height: 7vh;
		transition: 0.1s;	
		margin-bottom: -0.5vw;
		
		font-size:3vh;
		
		position: relative;
	}
	
	.ldrbrd {
	opacity: 0.9;
	width: 70vw;
	margin-bottom: 3vh;
}

	.greyRow {
		border-radius: 1vw;
	}

	#one:hover, #two:hover, #three:hover, #four:hover {
		width: 90vw;
		border-radius: 2vw;
		background-color: #C63209;
	}
	.greyRow:hover {
		width:  75vw;
		height: 7.5vh;
		padding: 0.5vh;
	}

	#one {
		width: 85vw;
		background-color: #BC2800;
		border-radius: 2vw;
	}
	#two {
		width: 85vw;
		background-color: #962709;
		border-bottom-right-radius: 2vw;
		border-bottom-left-radius: 2vw;
	}
	#three {
		width: 85vw;
		background-color: #6F2512;
		border-bottom-right-radius: 2vw;
		border-bottom-left-radius: 2vw;
	}
	#four {
		width: 85vw;
		background-color: #49241A;
		border-bottom-right-radius: 2vw;
		border-bottom-left-radius: 2vw;
	}
	
	
	
		
	.regionA {
		height: 5.5vh;
		width: 13%;
		text-align: center;
		padding: 0.5vh 0 0.5vh 0;
	}

	.regionB {
		height: 5.5vh;
		width: 53.2%;
		margin-left: 2%;
		text-align: left;
		padding: 0.5vh 0 0.5vh 0;
	}

	.regionC {
		height: 5.5vh;
		width: 16%;
		margin-left: 1.5%;
		text-align: center;
		padding: 0.5vh 0 0.5vh 0;
	}

	.regionD {
		position: absolute;
		right: 3%;
		height: 5.5vh;
		width: 13%;
		text-align: center;
		padding: 0.5vh 0 0.5vh 0;
	}
}
