

.icobtn {
	width:4vw;
	transition: 0.3s;
}

.icobtn:hover {
	width: 4.5vw;
}


@media (max-width: 800px) {

	.icobtn {
		width:20vw;
		margin-bottom: 2vw;
		margin-top: 2.5vw;
	}
	
	.icobtn:hover {
		width: 25vw;
	}

}

body{
    margin: 0px;  overflow: hidden;
  }