

.icobtn {
	height:4vw;
	transition: 0.3s;
}

.icobtn:hover {
	height: 4.5vw;
}


@media (max-width: 800px) {

	.icobtn {
		height: 100%;	
		width:20vw;
		margin-bottom: 2vw;
	}
	
	.icobtn:hover {
		height: 100%;	
		width: 25vw;
	}

}