#navbtn {
	height: 3vw; 
	width: 3vw; 
	text-align: center; 
	line-height: 3vw;
	margin-bottom: 1.5vh; 
	margin-left: 1vw; 
	opacity: 90%;
}

#navcontainer {
	left: 0.3vw; 
	top: 3vw; 
	position: absolute; 
	opacity: 95%;
}


@media (max-width: 800px) {
	#navbtn {
		height: 6vw; 
		width: 6vw; 
		text-align: center; 
		line-height: 6vw;
		margin-bottom: 0.5vh; 
		margin-left: 2vw; 
		opacity: 90%;
		font-size: 140%;
	}
	
	#navcontainer {
		left: 0.1vw; 
		top: 4vw; 
		position: absolute; 
		opacity: 95%;
	}


}